<h1>Seja Bem-Vindo</h1>

<%= link_to 'Produtos',produtos_path, method: :get %>
</br>
<%= link_to 'Armazenamento',armazenamentos_path, method: :get %>
</br>
<%= link_to 'Movimentações',movimentacaos_path, method: :get%>

