<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @armazenamento.nome %>
</p>
<%= link_to 'Editar', edit_armazenamento_path(@armazenamento),method: :get, :class => 'btn btn-primary btn-xs' %>
<%= link_to 'Voltar', armazenamentos_path, :class => 'btn btn-default' %>

