<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @armazenamento.nome %>
</p>

<%= link_to 'Edit', edit_armazenamento_path(@armazenamento) %> |
<%= link_to 'Back', armazenamentos_path %>
