<%= form_with url: "/movimentacaos/create_by_csv",method: :post do |form| %>

  <div class="field">
    <%form.label 'Upload Arquivo CSV' %>
    <%= form.file_field :csv, multiple: false%>
    <label class="custom-file-label" for="customFile">Escolha Um Arquivo CSV</label>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<%end %>