<table class="table table-striped table-responsive">
  <thead>
    <th>Deposito</th>
    <th>Produto</th>
    <th>Quantidade</th>
  </thead>
  <tbody>
  <%@movimentacoes.each do |movimentacao| %>
    <tr>
      <td><%=movimentacao[0][0] rescue nil %></td>
      <td><%=movimentacao[0][1] rescue nil%></td>
      <td><%=movimentacao[1] rescue nil%></td>
    </tr>
  <%end%>
  </tbody>
</table>